# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Node & dependencies
node_modules/
npm-debug.log*

# Builds & Distribution
dist/
build/
out/
*.zip
*.exe

# Logs & temp
*.log
*.tmp
